<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add report</title>
</head>
<body>
    <form action="/addreport" method="post">
        <input type="text" placeholder="UserID" name="userid" required>
        <input type="text" placeholder="Market ID" name="m_id" required>
        <input type="text" placeholder="Market Name" name="m_name" required>
        <input type="text" placeholder="CommodityID" name="c_id" required>
        <input type="text" placeholder="Market Type" name="m_type" required>
        <input type="text" placeholder="Commodity Name" name="c_name" required>
        <input type="text" placeholder="Price Unit" name="P_unit" required>
        <input type="text" placeholder="Price" name="Price" required>

        <button type="submit">Submit Report</button>
    </form>
</body>
</html>