<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroMandi</title>
</head>
<body>
    <h1>Agro Mandi</h1>
    <a href="/addreport" role="button">Fill Report</a>
    <a href="/findreport" role="button">Get Report</a>
</body>
</html>